.tab {
    /* Create a round background (some random large number). */
    -fx-background-radius: 1000px;
    /* Unselected tabs are the background of the bar. */
    -fx-background-color: transparent;
    /* Make the tab (as well as the whole bar) larger. */
    -fx-padding: 60px 0px 60px 0px;

    -fx-text-fill: white;
}

.tab:selected {
    /* Selected tabs have a blue background. */
    -fx-background-color: -blue;
}

.tab .tab-label {
    -fx-text-fill: white;
}

.tab .tab-label {
    /* Rotate the label 90 degrees */
    -fx-rotate: 90;

    /* Make the tabs large blocks. */
    -fx-pref-width: 150px;

    /* Center the text better. */
    -fx-padding: 5px 0px 0px 0px ;
}

.tab-header-area {
    /* Small space around the circle so it doesn't touch the edges. */
    -fx-padding: 2px 2px 0px 2px;
}

/* Border is not correctly aligned with the other css, so we just 'remove' it. */
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.tab-pane *.tab-header-background {
    /* Background color of the bar */
    -fx-background-color: -darkgray;
}
