.root {
    -fx-font-size: 15px !important;
    -gray: rgb(221, 221, 221);
    -dark: rgb(47.0, 52.0, 57.0);
    -blue: rgb(0, 184, 222);
}

.button {
    /* Kleur van buitenkant van selected textbox:*/
    -fx-background-color: -blue;
    /* Kleur van binnenkant van selected textbox: */
    /*-fx-background-color: rgb(220, 244, 250);*/
}

.copyable-label, .copyable-label:focused {
    -fx-background-color: transparent ;
    -fx-background-insets: 0px ;
    -fx-border-insets: 0px;
    -fx-text-fill: white;
    -fx-padding: 0px;
}
