.hboxAlign {
    /* Overwrite generic for smaller align. */
    -fx-min-height: 25px;
    -fx-pref-height: 25px;
    -fx-max-height: 25px;

    -fx-alignment: center-left;

    /* Little bit of space between the elements. */
    -fx-padding: 5px;
}

.labelActive {
    -fx-padding: 0px 0px 5px 0px;
}

.hyperlink {
    /* Move hyperlink slightly upwards to align with the name. */
    -fx-padding: -1px 0px 0px 0px;
    -fx-border-color: transparent;
    -fx-text-fill: -blue;
    -fx-font-style: none;
}

.hyperlink:hover {
    -fx-underline: true !important;
}

.hyperlink:visited {
    -fx-text-fill: -blue;
    -fx-underline: false;
}

.text-area .content {
    -fx-background-color: transparent ;
    -fx-background-insets: 0px ;
    -fx-border-insets: 0px;
    -fx-padding: 0px;
}

.text-area {
    -fx-border-color: transparent;
}